body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.header h3 {
    margin: 0;
    line-height: 0.1;
}

.header h3 span {
    color: #dd4b39;
}

.header p span {
    display: block;
    font-size: 12px;
    margin-bottom: 3px;
}

div.container {
    padding-top: 15px;
}

div.hr {
    border-bottom: 0.5px solid #bbb;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
}

table.details td {
    padding: 3px 0;
}

td.highlight {
    color: #dd4b39;
}

.table-bordered thead {
    background: #f4f4f4;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #f4f4f4;
    padding: 6px;
}

table.main{
    border-collapse:collapse;
    width: 100%;
    background: #fff;
    font-size: 10pt;
}
table.main th{
    background:#ddd;
    border:1px solid #000;
    padding:2px;
    font-size: 8pt;
}
table.main td{
    font-size: 8pt;
    border:1px solid #000;
    background:#fff;
    padding:2px;
}

table.result{
    font-size: 10pt;
    width: 100%;
}
.bold{font-weight: bold;}
table.result td{
    text-align: left;
    font-size: 8pt;
    margin-top: 3px;
    width: 50px;
    padding-top:3px;
}
table{margin-bottom:15px;}
.left{padding-left:30px;}
table.small{
    border:none;
}
