.has-error .select2-container--default .select2-selection--single,
.has-error .select2-selection .select2-selection--single{
	border: 1px solid #dd4b39;
}
.has-success .select2-container--default .select2-selection--single,
.has-success .select2-selection .select2-selection--single{
	border: 1px solid #00a65a;
}
.form-group .help-block{
	font-size: 11px;
	color: #dd4b39;
	position: absolute;
	top: -2px;
	width: 100%;
	right: 0;
	text-align: right;
	z-index: 9;
}
.box td .help-block{
	position: relative;
	font-size: 11px;
	color: #dd4b39;
	margin-bottom: 0;
}
.form-group{
	position: relative;
}

.form-group .input-group .help-block{
    top: -27px;
}
.hide{
    display: none;
}
.card-secondary .card-header a{
	background-color: #000000 !important;
}



